/* Override the Angular Styles since it is causing some layout issues */
.md-chips {
    box-shadow: none;
}

.md-chip img {
    width: 12px;
}

.md-chips .md-chip, .md-chips .md-chip:first-child {
   margin: 0 0.8rem 0.8rem 0;  
}

a, a:visited {
    color: blue;
}

md-toolbar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}