
.permissions {
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
}

.permission-none {
    height: 115px;
    line-height: 115px;
    text-align: center;
    background-color: #f9f9f9;
}

.permissions li {
    float: left;
    width: 25%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
    cursor: pointer;
}

.permissions li.active {
  background-color: #ddd;
}

@media (min-width: 768px) {
    .permissions li {
      width: 12.5%;
      font-size: 12px;
    }
}