body {
    background-color: #EDECEC;
}

/* Permission */
.permission-none {
    height: 115px;
    line-height: 115px;
    text-align: center;
    background-color: #f9f9f9;
}

.error-status {
    padding: 10px;
    background-color: #e51c23;
    margin: 20px 0;
    color: white;
}


/* Login view */
.login-message span {
    padding: 5px;
    margin: 0px 5px;
    background-color: #3a5795;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.login-message span:hover {
    background-color: white;
    color: #3a5795;
    outline: 2px solid #3a5795;
}

/* Layout */
.footer {
    text-align: center;
}

.core-header {
    position: relative;
}

.core-progress {
    position: absolute;
    top: -5px; /* angular progress adds 5px to absolute no idea*/
    left: 0;
}

.content-wrapper {
    position: relative;
}

.content {
    background-color: transparent !important;
}