.permission img {
    height: 100px;
    width: 100px;
}

.permission.active button {
    background-color: #ccc;
}
.permission-none {
    height: 115px;
    line-height: 115px;
    text-align: center;
    background-color: #f9f9f9;
}
.md-chips {
    box-shadow: none;
}

.md-chip img {
    width: 12px;
}

.permission-meta-label {
    line-height: 50px;
}

.error-status {
    padding: 10px;
    background-color: #e51c23;
    margin: 20px 0;
    color: white;
}

.error-status span {
    padding: 0px 5px;
    margin: 0px 5px;
    outline: 1px solid white;
    color: white;
    cursor: pointer;
}



.error-status span:hover {
    background-color: white;
    color: black;
}