<section layout="row" class="toolbar">
    <md-input-container md-no-float>
        <input ng-model="searchText" type="text" placeholder="Search ...">
    </md-input-container>
    <span flex=""></span>
    <md-button 
            ng-click="selectAllPermissions()" 
            ng-disabled="permissions == null || permissions.length == 0">
        Select All
    </md-button>
    <md-button 
            ng-click="deselectAllPermissions()" 
            ng-disabled="permissions == null || permissions.length == 0">
        Deselect All
    </md-button>
    <md-button class="md-primary md-raised" 
            ng-disabled="permissions == null || (permissions | filter: { selected: true }).length == 0" 
            ng-click="confirmRevoke($event)">
        Revoke {{(permissions | filter: { selected: true }).length}} Permissions
    </md-button>
</section>

<md-whiteframe class="md-whiteframe-z1" >
    <md-list>
        <md-subheader class="md-no-sticky">Facebook ({{result.length}} apps)</md-subheader>
        <md-list-item class="permission" ng-repeat="permission in permissions | filter: searchText as result" id="p{{permission.appId}}">
            <img alt="avatar" ng-src="{{permission.img}}" class="md-avatar" />
            <p>{{ permission.name }}</p>
            <md-checkbox class="md-secondary" ng-model="permission.selected"></md-checkbox>
        </md-list-item>
    </md-list>

    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!permissions">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div layout="row" layout-sm="column" layout-align="center center" ng-if="permissions.length == 0">
        <p>Yuppie! No app is requesting your permissions. Back to a clean slate!</p>
    </div>

    <div layout="row" layout-sm="column" layout-align="center center" ng-if="result.length == 0 && permissions.length != 0">
        <p>No results for the filter <strong>"{{searchText}}"</strong></p>
    </div>
</md-whiteframe>