<section layout="row" class="toolbar">

    <md-input-container md-no-float>
      <input ng-model="searchText" type="text" placeholder="Search app">
    </md-input-container>
    <span flex=""></span>
    <md-button class="md-raised" 
            ng-click="selectAllPermissions()" 
            ng-disabled="permissions == null || permissions.length == 0">
        Select All
    </md-button>
    <md-button class="md-raised" 
            ng-click="deselectAllPermissions()" 
            ng-disabled="permissions == null || permissions.length == 0">
        Deselect All
    </md-button>
    <md-button class="md-raised md-primary md-hue-2" 
            ng-disabled="permissions == null || (permissions | filter: { selected: true }).length == 0" 
            ng-click="confirmRevoke($event)">
        Revoke {{(permissions | filter: { selected: true }).length}} Permissions
    </md-button>
</section>

<md-whiteframe class="md-whiteframe-z1" >
    <md-list>
        <md-item class="permission" ng-repeat="permission in permissions | filter: searchText as result" ng-model="permission.selected" id="p{{permission.appId}}" toggle-checkbox>
            <md-button class="md-grid-item-content" title="{{ permission.name }}">
                <img ng-src="{{permission.img}}"/>
                <div class="md-grid-text"> {{ permission.name }} </div>
            </md-button>
        </md-item>
    </md-list>

    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!permissions">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div layout="row" layout-sm="column" layout-align="center center" ng-if="permissions.length == 0">
        <p>Yuppie! No app is requesting your permissions. Back to a clean slate!</p>
    </div>

    <div layout="row" layout-sm="column" layout-align="center center" ng-if="result.length == 0">
        <p>No results for the filter <strong>"{{searchText}}"</strong></p>
    </div>
</md-whiteframe>